@page "/shell/index.html"

<img src="images/logo.png" alt="" style="display: block; margin: 20px auto;"/>
<img src="images/victory_logo.png" alt="" style="position: absolute; right: 20px; bottom: 20px;"/>

<button onclick="gameclient.execute('RTSClient.Quit');">Quit</button>
